# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
env.bak/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo